*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #00171f;
    color: white;
}
nav{
    background-color:  #02181f;
    color: #0aefff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(1, 255, 255, 0.25);
    position: sticky;
    top: 0;
    z-index: 10000;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
#li:hover{
    color: #0aefff;
}
button{
    padding:10px 35px;
    border-radius: 7px;
    background-color: rgb(245, 8, 8);
    color: white;
    border: none;
}
button:hover{
    color: #333;
    background-color: white;
    transition: 1.025s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2px;
   margin-top: 50px;
   padding: 30px;
}
.welcome{
    margin-top: 30px;
}
#welcome{
    color:#05deee;
}
.web{
    margin-top: 20px;
}
#web,#abt{
    font-size: 50px;
    color: navy;
    text-shadow: 
    0 0 10px rgb(0, 255, 242),
    0 0 25px rgb(0, 255, 242);
    /* 0 0 30px rgb(0, 255, 243); */
}
.para{
    margin-top: 20px;
}
#para{
    line-height: 1.5;
    font-size: x-large;
    text-align: justify;
}
.font-icons{
    height: 100%;
    width: 100%;    
}
.spn{
    color: #05deee;
}
i{
    color: white;
}
.icons{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.box1{
    height: 75vh;
}
.boximg{
    height: 75vh;
}
.box4{
    height: 70vh;
}
#boximg{
    margin-left: 150px;
    height: 70vh;
}
.boxsiddhu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    height: 70vh;
}
#hire{
    color:white;
}
#hire:hover{
    color: white;
    
}
#hiree{
    border: none;
    padding: 20px 30px;
}
#hiree:hover{
    background-color:#0aefff;
    transition: 0.9s;
    scale: 1.2;
    cursor: pointer;
}
.myself{
    margin-top: 30px;
}
.mysrv{
    margin-top: 20%;
}
.descp{
    margin-top: 20px;
    line-height: 1.8;
    font-size: x-large;
}
.intro{
    margin-top: 10px;
}
.button{
    margin-top: 30px;
}
#services,#underline{
    text-align: center;
}

#services:hover{
    cursor: pointer;
}
#underline{
    margin-top: -10px;
}
span,#underline{
    color: #0aefff;
}
#myProjects{
    text-align: center;
    margin: 20px 1px;
    color: #0aefff;
    font-size: 50px;
}
.project-card{
    border: 1px solid gray;
    height: 35vh;
    border-radius: 5px;
    box-shadow: 3px 3px 12px 0px #0cedfd;
}
.project-card:hover{
    box-shadow: 2px 0px 15px 2px #0cedfd;
    scale: 1.025;
    transition: 0.7s;
}
.projectbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   gap: 50px;
   margin-bottom: 50px;
   padding: 50px;
   
}
.blog:hover{
    scale: 1.035;
    transition: 0.95s;
}
.blog{
    border-radius: 10px;
}
img{
    border-radius: 10px;
}
#listimg{
    border-radius: 10px;
}
#listimg:hover{
    scale: 1.035;
    transition: 0.95s;
}
h3{
    text-align: center;
    margin-top: 50px;
    color: #0aefff;
}
#p{
    text-align: center;
    margin-top: 20px;
}

button{
    background-color: #05deee;
    font-size: large;
    font: bold;
}
.buttton{
    text-align: center;
    margin-top: 70px;
}
#button{
    width: 150px;
    height: 50px;
    font-size: large;
}
#button:hover{
    transition: 0.95s;
    scale: 1.025;
    border: 2px solid red;
}
.Box{
    height: 40vh;
    border:1px solid black;
    box-shadow: 3px 3px 12px 0px #0cedfd;
}
.Box:hover{
    box-shadow: 2px 0px 15px 2px #0cedfd;
    scale: 1.025;
    transition: 0.7s;
}
.listbox{
    margin-top: 20px;
    padding: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.myBlog,.contacts{
    padding: 60px;
}
.folow{
    height: 15vh;
    background-color: black;
    box-shadow: 4px 4px 10px 8px black;
}
.follow-link{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    gap: 30px;
}
#one{
    text-align: center;
    margin-top: 20px; 
    color: #0aefff;
}
#lorem{
    text-align: center;
    font-size: x-large;
    color: white;
}
.blog{
    height: 70vh;
}
.BLOG{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap: 50px;
}
.info{
    margin: 10px;
    text-align: justify;
}
#info,#info2{
    margin-top: 20px;
}
.foto{
    height: 60%;
}
.blog1,.blog2,.blog3{
    background-color: rgb(17, 16, 16);
    color: white;
    box-shadow: 3px 3px 12px 0px #0cedfd;
    font-family: Arial, Helvetica, sans-serif;
}
.blog:hover{
    box-shadow: 2px 0px 15px 2px #0cedfd;
    scale: 1.025;
    transition: 0.7s;
}

.contact-link{
    margin: 50px;
}
#name{
    padding: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: large;
}
#address,#email{
    padding: 30px;
    width: 49%;
    margin-bottom: 20px;
    font-size: large;
}
#email{
    margin-left: 20px;
}
#textarea{
    padding: 10px 5px 50px 10px;
    font-size: x-large;
}
#messg{
    border: none;
    padding: 15px 30px;
    margin-top: 50px;
    margin-left: 40%;
}
#copyright{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(1, 255, 255, 0.25);
    top: 0;       
}
